<div class="rounded-lg border border-pink-300 bg-white p-4 shadow-sm md:p-6">
  <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
    <!-- Imagen y enlace -->
    <a [routerLink]="['/tienda', cartItem().product.id]" class="shrink-0 md:order-1">
      <img class="h-20 w-20" [src]="urlImage()" [alt]="cartItem().product.name" />
    </a>

    <!-- Cantidad -->
    <div class="flex items-center justify-between md:order-3 md:justify-end">
      <div class="flex items-center">
        <button
          (click)="decrement()"
          type="button"
          class="cursor-pointer disabled:cursor-not-allowed inline-flex h-5 w-5 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200"
        >
          <svg
            class="h-2.5 w-2.5 text-gray-900"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 2"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h16"
            />
          </svg>
        </button>
        <input
          type="text"
          class="w-10 text-center text-sm font-medium text-gray-900"
          [class.text-red-500]="cartItem().quantity > cartItem().product.stock"
          [value]="cartItem().quantity"
          readonly
        />
        <button
          (click)="increment()"
          [disabled]="!canIncrement()"
          type="button"
          class="cursor-pointer disabled:cursor-not-allowed inline-flex h-5 w-5 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200"
        >
          <svg
            class="h-2.5 w-2.5 text-gray-900"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
        </button>
      </div>
      <div class="text-end md:order-4 md:w-32">
        <p class="text-base font-bold text-gray-900">
          {{ cartItem().product.price * cartItem().quantity | currencyColombian }}
        </p>
      </div>
    </div>

    <!-- Nombre y botón eliminar -->
    <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
      <a
        [routerLink]="['/tienda', cartItem().product.id]"
        class="text-base font-medium text-gray-900 hover:underline"
      >
        {{ cartItem().product.name }}
      </a>

      <div class="flex items-center gap-4 pt-3">
        <button
          (click)="remove()"
          type="button"
          class="inline-flex items-center text-sm font-medium text-red-600 hover:underline"
        >
          <svg
            class="me-1.5 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18 17.94 6M18 18 6.06 6"
            />
          </svg>
          Eliminar
        </button>
        @if (cartItem().product.stock === 0) {
        <span class="text-red-500 italic bold">--- No disponible ---</span>
        } @else {
        <span>Stock: {{ cartItem().product.stock }}</span>
        }
      </div>
    </div>
  </div>
</div>
