<form class="max-w-sm mx-auto text-center relative" [formGroup]="form" (ngSubmit)="register()">
  <div class="mb-5 relative">
    <label for="email" class="block text-left mb-1 text-sm font-medium text-gray-900"
      >Tu Email</label
    >
    <input
      type="email"
      id="email"
      formControlName="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="name@email.com"
      required
    />
    @if (form.controls.email.touched && form.controls.email.hasError('required')) {
    <p class="mt-2 bottom-[-1rem] text-xs text-red-600 absolute">El email es requerido</p>
    } @else if (form.controls.email.touched && form.controls.email.hasError('email')) {
    <p class="mt-2 bottom-[-1rem] text-xs text-red-600 absolute">El email es inválido</p>
    }
  </div>
  <div class="mb-5 relative">
    <label for="password" class="block text-left mb-1 text-sm font-medium text-gray-900"
      >Contraseña</label
    >
    <input
      type="password"
      id="password"
      formControlName="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
    />
    @if (form.controls.password.touched && form.controls.password.hasError('required')) {
    <p class="mt-2 bottom-[-1rem] text-xs text-red-600 absolute">La contraseña es requerida</p>
    }
  </div>
  <div class="mb-9 relative">
    <label for="password-repeat" class="block text-left mb-2 text-sm font-medium text-gray-900"
      >Repite la contraseña</label
    >
    <input
      type="password"
      id="password-repeat"
      formControlName="passwordRepeat"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
    />
    @if (form.controls.passwordRepeat.touched && form.controls.passwordRepeat.hasError('required'))
    {
    <p class="mt-2 bottom-[-1rem] text-xs text-red-600 absolute">La contraseña es requerida</p>
    } @if (form.hasError('passwordMismatch')) {
    <p class="mt-2 bottom-[-1rem] text-xs text-red-600 absolute">Las contraseñas no coinciden.</p>
    }
  </div>
  <button
    type="submit"
    class="max-auto text-white bg-pink-500 hover:bg-pink-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
  >
    Registrar
  </button>
  @if (requestStatus() === "success") {
  <div class="w-full max-w-[400px] mx-auto bg-green-500 py-3 text-center text-white rounded-lg absolute left-[50%] translate-x-[-50%] bottom-[-6rem]">Usuario creado satisfactoriamente</div>
  } @else if (requestStatus() === "error") {
  <div class="w-full max-w-[400px] mx-auto bg-red-600 text-center text-white py-3 rounded-lg absolute left-[50%] translate-x-[-50%] bottom-[-6rem]">Error al crear el usuario</div>
  }
</form>
@if(requestStatus() === 'loading') {
  <app-loading />
}